node_modules
.sass-cache
generatepress.zip
generatepress
*.zip
vendor
cghooks.lock
composer.lock
.DS_Store
.phpunit.result.cache

# Docker files
Dockerfile
docker-compose.yml
.dockerignore
.env
.env.local
.env.*
